/* STARTING FROM MOBILE VERSION */

/* GENERAL RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*****************************************/
/* FONT SIZES */
.s-text {
    font-size: 14px;
}

.m-text {
    font-size: 15px;
}

.l-text {
    font-size: 16px;
}

.xl-text {
    font-size: 17px;
}

/*****************************************/
/* CONTACT-ROW SETUP */
.contact-row {
    display: flex;
}

.img-contact {
    width: 6rem;
    text-align: center;
    padding: 0.3rem;
}

.contact-info {
    width: calc(100% - 6rem);
}

/*****************************************/
/* TEXT-CONTAINER SETUP */
.text-container {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 9.4rem);
}

.msg-1 {
    display: flex;
    width: 80%;
    margin-bottom: 0.5rem;
    align-self: flex-end;
}

.msg-2 {
    display: flex;
    width: 80%;
}

.msg-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 7rem;
    padding-top: 0.5rem;

}

/*****************************************/
/* CHAT-ROW SETUP */

.chat-row label {
    display: none;
}

.chat-row {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background-color: rgb(239, 232, 219);
}

.chat-row input {
    width: 100%;
    height: 80%;
    padding: 1rem;
}


/*****************************************/
/* BACKGROUND IMAGES */

.text-container {
    background-image: url("../img/mine.jpg");
    background-size: auto;
}

/*****************************************/
/* UTILITY */
.border {
    border: 1px solid black;
}

.contacts,
.user-row-settings {
    display: none;
}

.b-blue {
    background-color: blue;
}

.b-purple {
    background-color: purple;
}

.msg-1 p,
.msg-2 p {
    padding: 1rem 0 1rem 1rem;
}

.text-align-c {
    text-align: center;
}

/*****************************************/
/* IMAGE SETUP */

.img-style {
    width: 80%;
    border-radius: 50%;
}


/*****************************************/
/* TABLET SETUP */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
    }

    .user-row {
        height: 0;
    }

    .contacts {
        display: flex;
        width: 6rem;
        flex-wrap: wrap;
    }

    .notifications,
    .search {
        display: none;
    }

    .chat {
        width: 90%;
    }

    .msg-1,
    .msg-2 {
        width: 60%;
    }

    .text-container {
        padding: 3rem;
    }

    .contact-list {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        margin-top: -6rem;
    }

}

/*****************************************/
/* DEKSTOP SETUP*/
@media screen and (min-width: 1200px) {

    /*****************************************/
    /* CENTRAL CONTAINER SETUP */
    body {
        display: flex;
        height: 100vh;
        background-color: blanchedalmond;
        position: relative;
    }

    .container {
        height: 90%;
        width: 80%;
        border: 1px solid black;
        margin: auto;
    }

    /*****************************************/
    /* INSIDE CONTAINER SETUP*/
    .row {
        height: 100%;
        width: 100%;
    }

    .contacts {
        height: 100%;
        width: 25%;
        background-color: white;

    }

    .chat {
        height: 100%;
        width: 75%;
    }

    .notifications,
    .search {
        display: block;
    }

    .contact-list {
        margin: 0;
        display: block;
    }

    .text-container {
        height: calc(100% - 18%);
    }

    /*****************************************/
    /*USER ROW SETUP*/

    .user-row {
        display: flex;
        height: 4.05rem;
        width: 100%;
    }

    .user-row-settings {
        display: block;
    }

    .user-row .img-contact,
    .user-row .user-row-settings {
        width: 50%;
    }

    .img-style {
        width: 3.25rem;
    }

    .img-contact {
        text-align: left;
        width: 50%;
    }

    .contact-row {
        width: 100%;
    }

    .contact-info {
        width: 50%;
    }

    .notifications {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aqua;
        padding: 1rem 0;
        width: 100%;
    }

    .search {
        width: 100%;
        padding: 0.5rem;
        background-color: cadetblue;
    }

    .bell {
        width: 20%;

    }

    .bell-text {
        width: 80%;
    }

    .contact-list {
        width: 100%;
        height: 40.3rem;
        overflow-y: scroll;
    }

    .contact-card {
        margin: 2rem 0;
    }


}